{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%style.css'%}" />
    <title>Zahra's Profile</title>
    
</head>
    
<body bgcolor="#E6E6FA">
  <style>
      img {
          image-orientation: from-image;
          transform: (0deg);
          transition: 2s;
      }


      p,h1,h2,h3,h4,h5,h6,li {
          font-family:"Didot", "Perpetua", "Garamond", sans-serif ;
      }

      img:hover {
          transform: rotate(360deg);
      }

      #headline {
        height: 150px;
        background-color: paleturquoise;
        overflow: hidden;
        margin-top: 25;
        padding: 10px 0 10px 10px;

      }

      #pendidikan {
          font-family: "Didot", "Perpetua", "Garamond", sans-serif;
          border-collapse: collapse;
          width: 30%;
      }

      #pendidikan th {
          border: 1px solid #ddd;
          padding: 20px;
      }

      #pendidikan tr:nth-child(even) {
          background-color: #f2f2f2;
      }

      #pendidikan tr:hover {
          background-color: #ddd;
      }

      #pendidikan th {
          padding-top: 20px;
          padding-bottom: 15px;
          text-align: center;
          background-color: #FBD255;
          color: white;
      }
  </style>
  <img src="CODD2742.jpg" width="275" height="350" alt="Jara dibunga matahari" style="margin:50px 490px">
  <div id = "slidshow"></div>
    <h3 align="center">
        About Me :
    </h3>
    <p align="center" style="font-size:145%;">Hello Everyone! Welcome to my first ever website. In this website you will be able to get to know a little bit of me.</p>
    <p align="center" style="font-size:125%" >sebelumnya perkenalkan nama saya <strong>Cut Zahra Nabila,</strong> you can call me Jara. Saat ini saya berkuliah di Universitas Indonesia jurusan Sistem Informasi angkatan 2019 dengan NPM 1906399934.Saya mengisi waktu dengan melakukan hobi-hobi saya, antara lain nonton film apapunn dan baca - baca novel.</p>
    
  </div>
  <table id="pendidikan" align="center">
      <tr>
          <th>Jenjang Pendidikan</th>
      </tr>
      <tr>
          <td>TK FITRIA</td>
      <tr>
          <td>SD ANGKASA 4</td>
      </tr>
      <tr>
          <td>SMPN 157 JAKARTA</td>
      </tr>
      <tr>
          <td>SMAN 67 JAKARTA</td>
      </tr>
      <tr>
          <td>Universitas Indonesia (S1 Sistem Informasi)</td>
      </tr>
  </table>

  <div id = "headline">
    <h3>Connect with me more on:</h3>
    <p>my instagram</p>
    <a href="https://www.instagram.com/zahrajaraaa/" target="_blank" title="Follow Me"><img border="0" src="https://1.bp.blogspot.com/-YgjDI7ryeCw/WBK0256tXeI/AAAAAAAAGwI/ENH2OyP7KUgQ9Q8Mix15YH8T_easIwguQCLcB/s1600/instagram.png" style="border: medium none; position: relative;" / />
  </div>
      

  </a>
</body>

</html>



